.mis-plantas{
    background-color: #f3f3f3;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    height: calc(100vh - 3.75rem);
    align-items: center;
}

.mis-plantas button{
    place-self: end;
}

.plantas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card-planta{
    background-color: white;
    border: 0.063rem solid #d9d9d9;
    border-radius: 1rem;
    cursor: pointer;
}

.card-planta:hover{
    transform: translateY(-0.125rem);
    box-shadow: 0rem 0.5rem 1.5rem #aaafb6;
}

.card-planta img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-planta-descripcion{
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-favorito{
    border: none;
    background: transparent;
    cursor: pointer;
}

.card-top i{
    font-size: 2rem;
    color: #FFA726;
}

.etiqueta-rojo{
    display: inline-block;
    background-color: #ef5350;
    opacity: 50%;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    color: white;
    font-size: small;
    place-self: start;
}

.etiqueta-verde{
    display: inline-block;
    background-color: #2f8a35;
    opacity: 50%;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    color: white;
    font-size: small;
    place-self: start;
}

@media (max-width: 768px){
    .mis-plantas{
        gap: 1rem;
        height: 100%;
        padding: 1rem;
    }

    .descripcion{
        gap: 0.5rem;
    }

    .descripcion h1{
        font-size: 1.5rem;
    }

    .plantas{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card-top i{
        font-size: 1.5rem;
    }

    .etiqueta-rojo{
        padding: 0.25rem 1rem;
    }

    .etiqueta-verde{
        padding: 0.25rem 1rem;
    }
}