.seccion-plantas {
  background-color: #f3f3f3;
  padding: 32px 32px;
  display: grid;
  gap: 32px;
  height: calc(100vh - 60px);
  align-items: center;
}

.mis-pantas-descripcion p {
  color: #aaafb6;
}

.seccion-plantas button {
  place-self: end;
}

.btn-agregar-planta {
  padding: 12px 32px;
  background: none;
  border: 1px solid #2f8a35;
  color: #2f8a35;
  cursor: pointer;
}

.plantas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card-planta {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  cursor: pointer;
}

.card-planta:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 24px #aaafb6;
}

.card-planta img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-planta-descripcion {
  display: grid;
  padding: 16px;
  gap: 16px;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.btn-favorito {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-favorito img {
  height: 40px;
  width: 40px;
}

.planta-etiqueta-r {
  display: inline-block;
  background-color: #ef5350;
  opacity: 50%;
  padding: 8px 32px;
  border-radius: 50px;
  color: white;
  font-size: small;
  place-self: start;
}

.planta-etiqueta-s {
  display: inline-block;
  background-color: #2f8a35;
  opacity: 50%;
  padding: 8px 32px;
  border-radius: 50px;
  color: white;
  font-size: small;
  place-self: start;
}
